# application config
APP_PORT=2001
TZ=Asia/Jakarta
SECRET_KEY=core-api
NODE_ENV=development
JSON_LIMIT=100200kb
LANGUAGE=id
APP_NAME=Core API
APP_ENV=Rubysa Server

SECRET_KEY_AUTH_JWT=

# database config apps must same in database config docker
DB_USER_DEV=
DB_PASS_DEV=
DB_NAME_DEV=
DB_HOST_DEV=
DB_PORT_DEV=5432
DB_CLIENT_DEV=pg

DB_USER_TEST=
DB_PASS_TEST=
DB_NAME_TEST=
DB_HOST_TEST=
DB_PORT_TEST=5432
DB_CLIENT_TEST=pg

DB_USER_PROD=
DB_PASS_PROD=
DB_NAME_PROD=
DB_HOST_PROD=
DB_PORT_PROD=5432
DB_CLIENT_PROD=pg

# BROKER RABBITMQ
RABBITMQ_URL=amqp://localhost
RABBIT_MQ_HOST=
RABBIT_MQ_PORT=
RABBIT_MQ_USER=
RABBIT_MQ_PASS=

# MAIL CONFIG 
MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=d010bd981faee5
MAIL_PASSWORD=aac26c8b410877
MAIL_ENCRYPTION=true
MAIL_FROM=
MAIL_ALERT_LIST=muhammadabdulfalaqnur@gmail.com
IGNORE_TLS=false

#AWS
AWS_BUCKET=
AWS_BUCKET_USER=
AWS_BUCKET_KEY_ID=
AWS_BUCKET_KEY=
AWS_BUCKET_PRIVATE=
AWS_BUCKET_USER_PRIVATE=
AWS_BUCKET_KEY_ID_PRIVATE=
AWS_BUCKET_KEY_PRIVATE=
BUCKET_REGION=

#LINK
LOGO_URL=https://balailelang-info.d.logique.co.id/img/logo.png
WEB_INFO=https://balailelang-info.d.logique.co.id/
PHONE_CS='0811-9009404'
EMAIL_CS=cs.universal@lelangmobilku.co.id
ONLINE_AUCTION=https://balailelang-online-auction.d.logique.co.id/
WEB_SELLER=https://balailelang-seller.d.logique.co.id/
OFFICIAL_ADDRESS='Jl Moh Kahfi I No 24.A RT/RW 008/006 jagakarsa, jagakarsa. Jakarta selatan, kode pos 12620'
CC_ADMIN=admin.universal@lelangmobilku.co.id
FROM_CS=support.universal@lelangmobilku.co.id
TO_CS=cs@ucauction.co.id

#PAYMENT MANUAL BANK
BANK_NAME='BANK CENTRAL ASIA'
BANK_ACCOUNT_NAME='PT UNIVERSAL COLLECTION'
BANK_ACCOUNT_NUMBER='7331558889'
DEADLINE_TIME_DEPOSIT='23:59'
DEADLINE_TIME_PAYMENT='16:00'

#Midtrans
MIDTRANS_EXPIRED=2
MIDTRANS_ISPRODUCTION=false
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=
MIDTRANS_URL=https://app.sandbox.midtrans.com/snap/v1/transactions

# ReCaptcha
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_URL="https://www.google.com/recaptcha/api/siteverify/"

# Rate Limiter Config
RATE_LIMIT_RETRY=5
RATE_LIMIT_MAX=3

LAST_DATE_EXISTING='2023-05-03'

APM_SERVICE_NAME=ucauction-core-api-service
APM_SERVICE_TOKEN=
APM_SERVICE_URL=http://13.250.6.227:8200

SLACK_API=https://slack.com/api
SLACK_KEY=
SLACK_CHANNEL=balailelang-alert
SLACK_CAPTURE="off"

UPLOAD_FILE_SIZE=5242880 # 5MB in bytes
ALLOWED_FILE_TYPES=image/jpeg,image/png

CAR_FEE=3000000
PERCENT_CAR_FEE=0.6
BIKE_FEE=500000
NOMINAL_COMPARE=500000000